.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blogPost{
    display: flex;
    flex-direction: column;
    flex-basis: calc(20% - 2em);
    flex: 1; 
    max-width: calc(20% - 2em);
    object-fit: contain;
    gap: 1em;
    cursor: pointer;
}
.blogPost img{
    height: 220px; 
    border-radius: 10px;
}

.blog_content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.blog_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.3em;
    font-size: small;
}
.blog_header img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .blogPost {
        flex-basis: calc(50% - 1em); 
        max-width: calc(50% - 1em);
    }
}

@media (max-width: 480px) {
    .blogPost {
        flex-basis: 100%; 
        max-width: 100% ;
    }
}


