/* SingleBlogPost.jsx file css */

.post{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
.post img{
    max-width: 100%;
    height: auto;
}
.post .post-content{
    font-size: 1em;
    font-weight: 500;
}