.blogs{
    display: flex;
    flex-direction: column;
    gap:1em
}
.all_posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2em;
    /* justify-content: space-between; */
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heading button{
    display: flex;
    align-items: center;
    gap:0.6em;
    border:none;
    color: rgb(157, 5, 5);
    font-weight: 600;
    background-color: transparent;
}