footer{
    background-color: rgba(240, 240, 237, 0.985);
    padding: 1em 0 ;
    margin-top: 3em;

}
.footer_upper_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap:1em;
    width: 25%;
}
.footer_heading{
    display: flex;
    flex-direction: row;
    gap:0.3em;
}

.footer_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap:0.5em;
}
.footer_sec1, .footer_sec2, .footer_sec3, .footer_sec4{
    display: flex;
    gap:1em;
    flex-direction: column;
}
footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.divider{
    border:1px solid rgb(192, 191, 191);   
    margin-top: 2em;
}
.footer_lower_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
}
.footer_privacy{
    display: flex;
    flex-direction: row;
    gap:1em;
}
@media screen and (max-width : 518px){
    .footer_upper_section{
        flex-direction: row;
        flex-wrap: wrap;
        gap:2em;
    }
    .footer_logo{
        justify-content: center;
    }
    .footer_left, .footer_sec1, .footer_sec2, .footer_sec3, .footer_sec4{
        width: 100%;
        text-align: center;
        gap:0.6em
    }
}
   
