header{
    display: flex;
    flex-direction: column;
    gap:2em
}
.welcome_motive{
    background-color: rgba(240, 240, 237, 0.985);
    border-radius: 10px;
    text-align: center;
    padding:1em 0;
}
.welcome_motive span{
    color: rgb(157, 5, 5)
}
.latest_blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex:1;
    gap:2em;
    cursor: pointer;
}
.latest_blog_attchment {
    border-radius: 10px;
    height: auto; 
    width: 50%; 
}
.latest_blog_content{
    display: flex;
    flex-direction: column;
    gap:1em;
    width: 50%;
}
.content_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.6em;

}
@media screen and (max-width: 768px) {
    .latest_blog {
        flex-direction: column;
        align-items: flex-start;
    }

    .latest_blog_attchment,
    .latest_blog_content {
        width: 100%; /* Full width in smaller screens */
    }
}